.p1{
font-size: 20px;
color: blue;
}
.p2{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 25px;
color: green;
}

.p3{
 font-size: 25px;
 color: blueviolet;
 text-shadow: 10px 10px 5px red;
}





